body {
  margin: 15px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #03c}

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}



